# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# Base SQLite locale
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Médias volumineux
app/static/videos/
